@charset "UTF-8";

@prefix   : super-flow;
@bg-color : #ffffff;
@color    : #333333;

.shadow(@dep: 1) {
  box-shadow : 1px 2px 8px rgba(0, 0, 0,.1 * @dep);
}

.@{prefix} {

  width  : 100%;
  height : 100%;


  // 关系线
  &__line {

  }

  // 节点
  &__node {
    .shadow();

    position         : absolute;
    background-color : @bg-color;

    &:hover {
      .shadow(2)
    }
  }

  // 菜单
  &__menu {

  }

}